body {
    background-color: #e2e2e2de;
}
.main-content {
    display: flex;
    padding: 20px;
    height: 90vh;
    flex-direction: column;
}

.bff-drawer {
    margin-bottom: 10px;
    height: 20vh;
}

.bff-videos {
    width: 100%;
    height: 90vh;
}

.drawer-container {
    width: 100%;
    height: 100%;
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    border-radius: 4px;
}

.videos-container {
    width: 100%;
    height: 100%;
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    border-radius: 4px;
}

@media (min-width: 768px) {
    .main-content {
        flex-direction: row;
    }

    .bff-drawer {
        margin-right: 20px;
        height: 92vh;
    }

    .bff-videos {
        width: 73vw;
        height: 90vh;
    }

    .drawer-container {
        width: 100%;
        height: 100%;
    }

    .videos-container {
        padding: 10px;
        width: 100%;
        height: 100%;
    }
}


